:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  --primary-color: #003366;
  --secondary-color: #006666;
  --background-color: #f0f0f0;
  --white-color: #ffffff;
  --accent-color: #3F51B5;
  --success-color: #21ae1e;
  --error-color: #ff4136;
  --warning-color: #ff851b;
  --text-color: #333333;

  --page-background-color: #f6f6f6;
  --box-background-color: #ffffff;
  --header-background-color: #3F51B5;
  --box-shadow-color: #ececec;
  --table-line-color: #c4c4c4;
  --apply-button-color: #28a745;
  --apply-button-disabled-color: #6c757d;
  --simulate-button-color: #3F51B5;

  --h1-color: #8f99a6;
  --h2-color: #333333;
  --h3-color: #737373;

  --prototype-width-px: 1349px;
  --prototype-height-px: 2000px;
  --prototype-width-value: 1349px;
  --prototype-height-value: 2000px;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  background-color: var(--background-color);
  font-size: 8px;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  position: relative;
}

body {
  max-width: 1349px;
  max-height: 2000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h1 {
  font-weight: 300;
  line-height: 68.09px;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  line-height: 27.24px;
  font-size: 20px;
  text-align: start;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19.07px;
  text-align: start;
  font-size: 14px;
}

button {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  font-family: var(--font-primary);
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  opacity: 80%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.main-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  border: 5px;
  border-radius: 5px;
  background-color: var(--box-background-color);
  box-shadow: var(--box-shadow-color);
  margin-bottom: 10rem;
}

@media (min-width: 375px) {
  .container {
    max-width: calc(375px * (967 / var(--prototype-width-value)));
  }
}

@media (min-width: 475px) {
  .container {
    max-width: calc(475px * (967 / var(--prototype-width-value)));
  }

  .main-box {
    padding: 5rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: calc(640px * (967 / var(--prototype-width-value)));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 967px;
  }
}
