.title {
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  margin-top: 8rem;
  margin-bottom: 10rem;
}

@media (min-width: 475px) {
  .title {
    font-size: 50px;
    line-height: 68.09px;
  }
}
